//@import '../utils/variables.scss';

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


$red: #FC3D21;
$blue:#0B3D91;
$grey: rgb(234, 234, 234);
$white: #ffffff;

$font1: 'Space Grotesk', sans-serif;
$font2:'Montserrat', sans-serif;

$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;

$fontsize1: 20px;