@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.landings-container {
    @include column-center;
    margin-top: 10px;
    margin-bottom: 20px; //para footer
    text-align: center;
    font-family: $font1;
    margin: 2em;
    justify-content: flex-start;
    height: 100vh;
  }

  .landings-container h1{
      text-decoration: underline;
  }

#description{
    line-height:1.82;
    text-align: justify;
    width: 70%;
   }

.list-landings li{
  list-style-type: square;
}